.h-wrapper{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.h-left{
    justify-content: center;
    margin-bottom:100px;
    gap: 2rem;
    display: flex;
    position: relative;
    flex: 2;
    flex-direction: column;
}

.h-name{
    display: flex;
    flex-direction: column;
}

.h-name>:nth-child(1){
    color: var(--blue);
    font-weight: bold;
    font-size: 3rem;
}
.h-name>:nth-child(2){
    color: #fdc807;
    font-weight: bold;
    font-size: 1.3rem;
}

.h-name>:nth-child(3){
    color: var(--black);
    font-weight: 100;
    font-size: 18px;
    margin-top: 10px;
}

.h-button{
    width: 10rem;
    height: 3rem;
}

.h-icons{
    display: flex;
    gap: 1.5rem;
}
.h-icons>a>*{
    height: 40px;
    cursor: pointer;
    transition: height .2s ease-in 100ms
}
.h-icons>a>*:hover{
    height: 45px;
}
/* right side */
.h-right{
    flex: 1;
    position: relative;
}
.h-right>*{
    position: absolute;
    z-index: 1;
}

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
}

.image-container>img{
    width: 100%;
}

@media screen and (max-width:760px){
    .h-name>:nth-child(1){
        color: var(--blue);
        font-weight: bold;
        font-size: 2rem;
    }
    .h-name>:nth-child(2){
        color: #fdc807;
        font-weight: bold;
        font-size: .8rem;
    }
    
    .h-name>:nth-child(3){
        color: var(--black);
        font-weight: 200;
        font-size: 14px;
        margin-top: 10px;
    }
    .h-icons>a>*{
        height: 30px;
        cursor: pointer;
        transition: height .2s ease-in 100ms
    }
    .h-icons>a>*:hover{
        height: 35px;
    }
    .image-container{
        width: 20rem;
        height: 25rem;
        overflow: hidden;
    }
    
    .image-container>img{
        width:100%;
    }

    .h-right>:nth-child(1){
        width: 550px;
    }
}