.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2px; 
}
.n-logo{
    /* margin-top: 10px; */
    height: 50px;
    cursor: pointer;
}

.n-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list{
    flex:10;
}

.n-list>ul{
    list-style: none;
    display: flex;
    gap:2rem;
    margin-right: 4rem;
    cursor: pointer;
}

.i-list li{
    color: #045898;
    transition: font-size .2s ease-in 100ms
}

.i-list li:hover{
    color: #fdc807;
    cursor: pointer;
    font-size: 1.1rem;
}

@media screen and (max-width:760px) {
    .n-list{
        display: none;
    }
    .n-right{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}